
<pre>

{% if customer %}
This customer is logged in.

This is the proxy page for {{ shop.name }}.

<div id='custE' style='display:none'>{{ customer.email }}</div>
<script type='text/javascript'>
  alert('How do you do?');
</script>

{{ shop.name }} has {{ shop.products_count }} {{ shop.products_count | pluralize: 'product', 'products' }}.
List of products in the store:
{% for product in collections['vanilla'].products %} 
   {% if product.title contains 'Sister' %}
     - {{ product.title }}<br>
   {% endif %}   
{% endfor %}

{% else %}
   Please login to access your streaming purchases.
{% endif %}


</pre>