
<pre>

{% if customer %}
This customer is logged in.

This is the proxy page for {{ shop.name }}.

<div id='custE' style='display:none'>{{ customer.email }}</div>


{{ shop.name }} has {{ shop.products_count }} {{ shop.products_count | pluralize: 'product', 'products' }}.
List of products in the store:
{% for product in collections['all'].products %} - {{ product.title }}<br>{% endfor %}

{% else %}
   Please login to access your streaming purchases.
{% endif %}


</pre>