<div id="appContent">
{% if customer %}
</br></br>
This customer is logged in. </br></br>

This is the proxy page for {{ shop.name }}. </br>

<div id='custE' style='display:none'>{{ customer.email }}</div>
<script type='text/javascript'>
   // alert('This is before the jQuery');
    $(document).ready(function() {
    //alert('This is the beginning');
    //var formData = {'username': $('input[name=IT3]').val()};
    var formData = {'username': 'IT3'};
      $.ajax({
          type: 'POST',
          url: 'https://region-lock.herokuapp.com/proxy/query', 
          data: formData, 
          dataType: 'json',
          encode: true
        }).done(function(data){ 
           //var purchases = data.purchases;
           alert('Ajax worked');
           document.getElementById("responseContainer").innerHTML = data;


      }).error(function(errorData){
         //alert("It didn't work");

      	document.getElementById("responseContainer").innerHTML = "Something went wrong. Don't worry, we're working on it!";

        //Something went wrong with the ajax call. It'll be dealt with here
      });
  });
  
</script>



{{ shop.name }} has {{ shop.products_count }} {{ shop.products_count | pluralize: 'product', 'products' }}. </br></br>
List of products in the store: </br></br>
{% for product in collections['vanilla'].products %} 
   {% if product.title contains 'Sister' %}
     - {{ product.title }}</br>
   {% endif %}   
{% endfor %}

{% else %}
</br></br>
   Please login to access your streaming purchases.

{% endif %}


<div id='responseContainer'></div>

</div>

<style>
   .appContent {
     position: relative;
     left: 25%;
   }

</style>   


