<html class='no-view'>
<div id="appContent">
{% if customer %}
</br></br>
This customer is logged in. </br></br>

This is the proxy page for {{ shop.name }}. </br>

<div id='custE' style='display:none'>{{ customer.email }}</div>
<script type='text/javascript'>
   // alert('This is before the jQuery');
    $(document).ready(function() {
    $('html').removeClass('no-view');
    //alert('This is the beginning');
    $('.productSection').hide();
    var formData = new FormData();
    formData.append('username', 'Test');
    //var formData = {'username': $('input[name=IT3]').val()};
    //var formData = {'username': 'IT3'};
      $.ajax({
          type: 'POST',
          url: 'https://region-lock.herokuapp.com/proxy/query', 
          data: formData, 
          dataType: 'json',
          processData: false,
		  contentType: false,
          encode: true
        }).done(function(data, status, error){ 
            console.log(data);
            console.log(status);
            console.log(error);
           //alert('Ajax worked');
           //var data_string = JSON.parse(data);
           document.getElementById("responseContainer").innerHTML = data[3].last_name;
           document.getElementById("liquidResponseContainer").innerHTML = 'hey';

           for(i=0; i<data.length; i++) {
           console.log("Data Length: " + data.length);

             var ln = data[i].last_name;
             var allP = $('p.tempMarker');
             console.log("Ajax Last Name: " + data[i].last_name);

               console.log("Temp Marker P Length: " + data.length);
               for(m=0; m<allP.length; m++) {
                 var markN = $('p.tempMarker')[m].innerHTML;
                 console.log("Inner Html Marker Number: " + markN);

            /*      if (allP[m].innerHTML == ln) {
                     allP[m].parent().css( "background-color", "red" );
                     console.log("Marker Match" + markN);
                  };
             
            */ 

                    if ($('p.tempMarker')[m].innerHTML == ln) {
                    var thisP = $('p.tempMarker')[m];
                    // $(thisP).parent().css( "background-color", "red" );
                    $(thisP).parent().show();
                    $(thisP).parent().addClass('ordered');
                     console.log("Marker Match" + markN);
                  };

            

               };

                 
            };  



           /* var allD = $('div.productSection');

               for(n=0; n<allD.length; n++) {
                  var thisD = $('div.productSection')[n];
                  if (!$(thisD).hasClass('ordered')) {
                    $(thisD).remove();
                   //$(thisD).css( "background-color", "red" );
                  };
                }; 
          */




      }).error(function(errorData){
         //alert("It didn't work");

      	document.getElementById("responseContainer").innerHTML = "Something went wrong. Don't worry, we're working on it!";

        //Something went wrong with the ajax call. It'll be dealt with here
      });
  });
  
</script>



{{ shop.name }} has {{ shop.products_count }} {{ shop.products_count | pluralize: 'product', 'products' }}. </br></br>
List of products in the store: </br></br>
{% for product in collections['vanilla'].products %} 
   {% if product.title contains 'Sister' %}
     - {{ product.title }}</br>
   {% endif %} 

   {% if product.handle == 'bust-to-bust' %}
     {% for image in product.images %}
       {% if forloop.first == true %}
         <img src="{{ image.src | product_img_url: 'medium' }}"></br>
       {% endif %}
     {% endfor %}
   {% endif %} 

{% endfor %}


{% paginate collections.all.products by 190 %}

{% comment %}
	{% for product in collections.all.products %}
	     {{ product.title }}</br>
	{% endfor %}    
{% endcomment %} 





      {% assign marker = 4 %}
      {% for product in collections.all.products %}
          <div class='productSection'>
             <p class='tempMarker'>{{ marker}}</p></br>
             <p class='pHandle'>{{ product.handle}}</p></br>
                   {% for image in product.images %}
				       {% if forloop.first == true %}
				         <img src="{{ image.src | product_img_url: 'medium' }}"></br>
				       {% endif %}
				     {% endfor %}
			  <p>'________________________'</p>	     
          </div>
       {% assign marker = marker | plus: 1 %}   
      {% endfor %}

{% endpaginate %}


{% else %}
</br></br>
   Please login to access your streaming purchases.

{% endif %}




<div id='responseContainer'></div></br>
<div id='liquidResponseContainer'></div>

</div>
</html>

<style>
   .appContent {
     position: relative;
     left: 25%;
   }

   .productSection {
      display: inline-block;
   }

   .no-view {
     display: none;
   }

</style>   


