<h1><%= @orders[0].first_name %> <%= @orders[0].last_name %>'s Orders</h1>

<ul>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Purchase Date</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
    <td><%= order.title %></td>
    <td><%= order.created_at %></td>
    <td><%= link_to("Edit", {:action => 'edit', :id => order.id}, :class => 'action edit') %></td>
    <td><%= link_to("Delete", {:action => 'delete', :id => order.id}, :class => 'action delete') %></td>
    </tr>
    <% end %>
  </table>

</ul>